<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="last-build" content="{{ site.time | date: '%Y-%m-%d' }}" />
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-J5VYH61SR2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-J5VYH61SR2');
	</script>
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/custom.css" />
	<!-- Site icon / favicon -->
	<link rel="icon" href="{{ site.url }}{{ site.baseurl }}/images/avatar.jpg" type="image/jpeg" />
	<link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/images/avatar.jpg" type="image/jpeg" />
	<link rel="apple-touch-icon" href="{{ site.url }}{{ site.baseurl }}/images/avatar.jpg" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
</head>