---
layout: default
---
<section class="post">
  {% if page.tags %}
  <header class="major">
    <p>
      {% for tag in page.tags %}
        <span class="label">#{{ tag }}</span>
      {% endfor %}
    </p>
  </header>
  {% endif %}

  <ul class="actions">
  <li><a href="{{ site.baseurl }}/" class="button">← Back Home</a></li>
  <li><a href="{{ site.baseurl }}/posts.html" class="button primary">All Posts</a></li>
  </ul>

  <div class="content">
    {{ content }}
  </div>

  <ul class="actions">
  <li><a href="{{ site.baseurl }}/" class="button">← Back Home</a></li>
  <li><a href="{{ site.baseurl }}/posts.html" class="button primary">All Posts</a></li>
  </ul>
</section>